{{ attach_library('tarik/tariklibraries') }}

{{ form }}

<div class="result-cat row">
  {% for row in trows %}
  {% if loop.last == true and  loop.index % 2 != 0 %}
  <div class="card-cat col-12">
    {% else %}
    <div class="card-cat col-6">
      {% endif %}
      <div class="image">{{ row['image']}}</div>
      <div class="name">
      <span class="title-row">
        {{ thead['name']}}:
      </span>
        {{ row['name']}}
      </div>
      <div class="email">
      <span class="title-row">
        {{ thead['email']}}:
      </span>
        {{ row['email']}}
      </div>
      <div class="date">
      <span class="title-row">
        {{ thead['date']}}:
      </span>
        {{ row['date']}}
      </div>
      {% if user.hasPermission('administer nodes') %}
      <div class="manage">
        {{ row['delete'] }}
        <a href="#">{{ row['edit'] }}</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div id="imgModal">
    <div class="img-container">
      <span class="close-btn">&times;</span>
      <img class="modal-result" id="img01" alt="cat" width="100%" height="auto">
    </div>
  </div>
</div>
